html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    color: #3C5490;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    margin: 0 auto;
}

nav,
header,
footer {
    display: block;
}

section {
    display: inline-block;
    width: 100%;
}

a {
    color: #3C5490;
}

span {
    font-weight: 600;
}

h1,
h2 {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (max-width: 880px) {
    .container {
        width: 80%;
    }
}

.form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (max-width: 880px) {
    .form-container {
        width: 80%;
        max-width: 280px;
    }
}

#menu {
    width: 70%;
    float: right;
    margin-top: 0px;
}

@media only screen and (max-width: 880px) {
    #menu {
        float: none;
        width: 100%;
    }
}

#menu ul {
    margin: 0;
    padding: 20px 0px 0px;
    text-align: right;
}

@media only screen and (max-width: 880px) {
    #menu ul {
        text-align: center;
         !important
    }
}

#menu ul li {
    display: inline-block;
    margin-right: 5%;
    color: white;
}

@media only screen and (max-width: 880px) {
    #menu ul li {
        margin-right: 0%;
        padding: 0 20px;
    }
}

nav {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 50px;
    z-index: 100;
    width: 100%;
    margin: 0px auto;
}

header {
    height: 700px;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-image: url(images/background.jpg);
    background-repeat: repeat-x;
    background-size: 822px 876px;
}

@media only screen and (max-width: 880px) {
    header img {
    height: 650px;
    }
}

header .hero {
    display: block;
    margin: 0 auto;
    margin-top: 130px;
}

header img {
    margin: 0 auto;
    display: block;
}

@media only screen and (max-width: 880px) {
    header img {
        width: 60%;
    }
}

header p {
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 880px) {
    header p {
        font-size: 1em;
    }
}

header form {
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 10px 0;
}

header span {
    font-style: italic;
}

input[type=email] {
    padding: 12px 10px 12px 10px;
    margin: 8px 4px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 14px 4px 4px 14px;
    box-sizing: border-box;
    font-size: 0.6em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    width: 70%;
}

input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 10px 12px 10px;
    margin: 8px 4px;
    border: none;
    border-radius: 4px 14px 14px 4px;
    cursor: pointer;
    font-size: 0.6em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    width: 24%;
}

.form-sub {
    padding-top: 0;
    margin-top: 0;
    color: black;
    font-size: 0.7em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.light {
    color: white;
    text-align: center;
    text-decoration: none;
}

#footer {
    margin: 30px 0;
}

#footer p {
    text-align: center;
    font-size: 0.7em;
}